<!DOCTYPE html>
<html>
<head>
  <title>Create Folder</title>
</head>
<body>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %} {% if message.tags == 'error' %}style="color:red; font-weight:bold;"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  
  <h1>Create Folder</h1>
  <form method="post">
    {% csrf_token %}
    <label for="id_folder_name">Folder Name:</label>
    <input type="text" name="folder_name" id="id_folder_name">
    <button type="submit">Create</button>
  </form>
</body>
</html>