<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
<meta charset="utf-8">


<title>check file manager - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'filemanager/css/styles.css' %}">


</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css" integrity="sha512-0/rEDduZGrqo4riUlwqyuHDQzp2D1ZCgH/gFIfjMIL5az8so6ZiXyhf1Rg8i6xsjv+z/Ubc4tt1thLigEcu6Ug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



<div class="container flex-grow-1 light-style container-p-y">
       
    <div class="container-m-nx container-m-ny bg-lightest mb-3">
    <ol class="breadcrumb text-big container-p-x py-3 m-0">
        <li class="breadcrumb-item">
        <a href="{% url 'filemanager' %}">Home</a>
        </li>
  
        <li class="breadcrumb-item">
        <a href="{% url 'filemanager_asignatura' asignatura_id=asignatura.id %}">{{ asignatura.nombre }}</a>
        </li>
    </ol>
  
  
      <div class="file-manager-actions container-p-x py-2">
          <div>
  
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile" name="documents[]" multiple>
                          <label class="custom-file-label" for="customFile">Choose files</label>
                      </div>
                      <div class="input-group-append">
                          <button type="submit" class="btn btn-primary"><i class="ion ion-md-cloud-upload upload-button"></i>&nbsp; Upload</button>
                      </div>
  
                  </div>
              </form>
  
  
                <div class="file-manager-actions container-p-x py-2">
                    <button onclick="location.href='{% url 'create_folder' asignatura.id %}'">New Folder</button>
                    <button onclick="location.href='{% url 'ask:ask_asignatura' asignatura.id %}'">Ask AI</button>
                <div>


              
              <form method="POST" action="{% url 'filemanager_asignatura' asignatura_id=asignatura.id %}">
                  {% csrf_token %}
                  <button type="submit">Delete</button>
              
            </div>
        </div>
      </div>
  </div>




  <div class="file-manager-container file-manager-col-view">

    <div class="file-manager-row" style="display: flex; flex-wrap: wrap;">
        {% for folder in folders %}
            <div class="file-item" style="border:none;">
                <div class="file-item-icon far fa-folder text-secondary">
                    <input type="checkbox" name="folders_to_delete" value="{{ folder.name }}" style="position:absolute; top:0; left:0;">
                </div>
                <a href="{% url 'filemanager_folders' asignatura_id=asignatura.id folder_id=folder.id %}" class="file-item-name">
                    {{ folder.name}}
                </a>
            </div>
        {% endfor %}
    
        {% for file in files %}
            <div class="file-item" style="border:none;">
                <div class="file-item-icon far {{ file.icon }} text-secondary"></div>
                <input type="checkbox" name="files_to_delete" value="{{ file.name }}" style="position:absolute; top:0; left:0;">
                <a href="{{ folder.url }}" class="file-item-name">
                    {{ file.name}}
                </a>
                </div>
            {% endfor %}
        </div>

        
        </form>
        
    

   </div>
</div>


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    // Trigger file input click when the upload button is clicked
    $('.btn-primary').on('click', function() {
        $('input[name="document"]').click();
    });
    // Show submit button when a file is selected
    $('input[name="document"]').on('change', function() {
        $('input[type="submit"]').show();
    });
</script>

<script>
    // Update the label text with selected file names
    $('.custom-file-input').on('change', function() {
        let filenames = Array.from(this.files).map(file => file.name);
        $(this).next('.custom-file-label').text(filenames.join(', '));
    });
</script>

  <script src="{% static 'filemanager/js/create_folder.js' %}"></script>

  <script src="{% static 'filemanager/js/execute_llm.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}
